<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Coder</title>
</head>
<body>
    <h1>bienvenidos a mi web</h1>

    <p>Este es mi pequeño proyecto</p>
    
    <br>

    <img src="https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?cs=srgb&dl=pexels-thisisengineering-3861969.jpg&fm=jpg&_gl=1*p59dft*_ga*NzgzOTI0NTM2LjE2NjczNTYxOTQ.*_ga_8JE65Q40S6*MTY2NzM1NjE5NC4xLjEuMTY2NzM1NjIyMC4wLjAuMA.." alt="">


</body>


</html>